body{
    font: 16px sans-serif;
}
h1.title{
    text-align:center;
}
p.intro{
    text-align:center;
    width:60em;
    margin-left:auto;
    margin-right:auto;
}
.keyouter, .buildouter, .settingsouter{
    display:inline-block;
    padding-bottom:3px;
    overflow-x: hidden;
    width:100%;
}
#selectorholder, #keyholder, #settingsholder, #buildholder{
    display:block;
    width:60em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
    padding-bottom:3px;
    overflow-x: hidden;
    border: 3px solid #662d8f;
    border-radius:0.5em;
}
.selector, .key-item, .setting-item, .build-item{
    display:inline-block;
    width:18em;
    height:2em;
    /* padding-top:0.6em; */
    padding-left:1em;
    margin-right:0.5em;
    margin-left:0.5em;
    overflow-x:hidden;
    border-bottom: white solid 3px;
    border-top: white solid 3px;
    border-radius:0.5em;
    position:relative;
    background-color:#e9e2ef;
}
.key-item, .setting-item{
    padding-top:0.6em;
    height:1.5em;
}
.key-item.key-icon{
    max-height:0;
    transition: max-height 1s;
    visibility:hidden;
    width:0;
    padding-left:0;
    margin:0

}
.key-item.key-icon.selected{
    max-height:3em;
    visibility:visible;
    width:18em;
    padding-left:1em;
    margin-right:0.5em;
    margin-left:0.5em
}
/* select{
    background-color:#662d8f;
    color:white;
    font-size:1em;
} */
.selector{
    cursor:pointer;
}
.selector.selected{
    background-color:#7d71b4;
    color: white;
    font-weight:bold;
}
.selectorder{
    width:1.5em;
    left:0.25em;
    text-align:center;
    font-weight:bold;
    font-size:1em;
    bottom:0.5em;
    cursor:pointer;
    position:absolute;
}
.select{
    display:inline-block;
    width:15em;
    left:3em;
    position:absolute;
    bottom:0.5em;
}
.selectlink{
    width:17em;
    left:2em;
    height:100%;
    position:absolute;
    border-left:solid #7d71b4 2px;
}
.selector.selected .selectlink{
    border-left-color:#e9e2ef;
}
/* .top10list{
    display:inline-block;
    visibility:hidden;
    overflow-x: hidden;
    overflow-y:hidden;
    max-height:0;
    width:0;
    transition: max-height 1s;
    transition-timing-function: ease-in-out;
} */
#top10holder{
    /* max-height:100em; */
    display:block;
    visibility:visible;
    width:60em;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:.5em;
    border: 3px solid #662d8f;
    background-color: #662d8f;
    border-radius:0.5em;
    transition: max-height 1s;
    transition-timing-function: ease-in-out;
    margin-bottom:1em;
}
.evname, .evgraph, .evval, .listname, .listunit, .listorder{
    display:inline-block;
    position:relative;
}
.list-item.large .evname{
    top:45%;
}
.list-title, .key-title, .settings-title, .build-title{
    display:block;
    min-height:2.5em;
    background-color: #662d8f;
    padding-top:0.5em;
    padding-left:0.5em;
    font-weight:bold;
    color:white;
    position:relative;
    z-index:20;
    margin-bottom:4px;
}
.listorder{
    width:1.5em;
    text-align:center;
    font-weight:bold;
    font-size:1.5em;
    cursor:pointer;
    position:absolute;
}
.listorder.key{
    cursor:default;
}
.listname{
    width:20em;
    text-align:left;
    position:absolute;
    left:4em;
    bottom:0.75em;
}
.listname.sel, .listname.build, .listname.settings{
    left:1em;
}
.listunit{
    width:7em;
    text-align:right;
    position:absolute;
    right:3em;
    bottom:0.75em;
    display:none;
}
.list-item{
    display:block;
    min-height:1.5em;
    padding-top:0.6em;
    padding-left:0.5em;
    /* overflow-x:hidden; */
    border-bottom: #e9e2ef solid 3px;
    position:relative;
    width:50em;
}
.list-item{
    margin-left:1em;
}
.build-item{
    width:25em;
}
/* .list-item.GW.odd{
    background-color:#fdcc9c;
} */
.GW{
    background-color:#ffe6d4;
}
/* .list-item.Cand.odd{
    background-color:#8fd7ed;
} */
.Cand{
    background-color:#e1f4fe;
}
.evname{
    width:15em;
    text-align:right;
    position:absolute;
    /* transform:translate3d(0,-25%,0); */
}
.evname.vctr{
    top:50%;
}
.evname.key, .evname.key-icon, .evname.setting{
    width:auto;
    text-align:left;
    margin-right:0.5em;
    position:unset;
}
.evname.key-icon{
    padding-left:0.5em;
    text-align:left;
}
.evname.build{
    width:100%;
    text-align:left;
}
.evgraph{
    width:30em;
    text-align:left;
    padding-left:0.5em;
    position:relative;
    left:15em;
    z-index:20;
    /* transform:translate3d(0,-10%,0); */
}
.evval{
    width:5.5em;
    text-align:right;
    position:absolute;
    right:3em;
}
.everr{
    text-align:left;
    position:absolute;
    left:31em;
    font-size:0.75em;
    top:0.6em;
}
.everr.pos{
    top:0.3em;
}
.everr.neg{
    top:1.5em;
}
.evval, .everr{
    display:none;
}
.icon{
    display:inline-block;
    margin:0.1em;
}
.icon img{
    display:block;
}
.icon.part{
    overflow:hidden;
}
.bar-bg{
    height:1em;
    background-color: #e9e2ef;
    width:100%;
    position:absolute;
    overflow: hidden;
}
.bar-bg.img{
    background-color: transparent;
    height:auto;
}
.bar{
    height:1em;
    background-color: #7c52a1;
    position:absolute;
}
.errmin{
    height:0.5em;
    top:0.25em;
    background-color: #e9e2ef;
    position:absolute;
}
.errmax{
    height:0.5em;
    top:0.25em;
    background-color: #7c52a1;
    position:absolute;
}
.errbar.pos{
    height:0.2em;
    top:0.4em;
    background-color: #7c52a1;
    position:absolute;
}
.errbar.neg{
    height:0.2em;
    top:0.4em;
    background-color: #e9e2ef;
    position:absolute;
}

.errmin2{
    height:0.5em;
    top:0.25em;
    width:0.1em;
    background-color: #e9e2ef;
    position:absolute;
}
.errmax2{
    height:0.5em;
    width:0.1em;
    top:0.25em;
    background-color: #7c52a1;
    position:absolute;
}
.barimg{
    /* height:1em; */
    display:inline-block;
    overflow-x:hidden;
}
.barimg img{
    display:block;
    /* height:1em; */
}
.list-scale{
    display:block;
    min-height:2em;
    /* padding-top:0.6em; */
    padding-left:0.5em;
    /* overflow-x:hidden; */
    position:relative;
    background-color:#662d8f;
    z-index:10;
    margin-left:1em;
}
.list-scale.hidden{
    display:none;
}
.scale-bg{
    height:2em;
    background-color: transparent;
    width:100%;
    position:absolute;
    /* overflow: hidden; */
}
.scale-item{
    /* height:2em;
    top:0em; */
    width:0;
    /* background-color: #ffffff; */
    position:absolute;
    border:1px solid white;
}
.scale-label{
    position:absolute;
    color:#ffffff;
    transform: rotate(-90deg);
    /* right:10px; */
    transform-origin: 0 0;
    margin-top:5px;
    margin-left:-0.5em;
    white-space:nowrap;
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  background-color:rgba(255,255,255,1);
  border:solid rgba(0,0,0,0.5) 1px;
  color:black;
  padding:0.5em;
  opacity:0;
}
.tooltip span{
    display:block;
}
.tttxt, .infotxt{
    position:relative;
}
.infotxt{
    transform:translate3d(0,-50%,0);
    max-width:10em;
    z-index:30
}
.ttval, .ttunit, .infoval, .infounit{
    text-align:left;
    position:absolute;
    top:0.6em;
    white-space: nowrap;
    padding-left:0.25em;
}
/* .ttunit, .infounit{
    padding-left: 0.2em;
} */
.tterr, .infoerr{
    text-align:left;
    position:absolute;
    font-size:0.75em;
    padding-left:0.2em;
}
.tterr.pos, .infoerr.pos{
    top:0.3em;
}
.tterr.neg, .infoerr.neg{
    top:1.5em;
}
.infotxt{
    position:absolute;
    left:100%;
    top:50%;
    margin-left:0.5em;
    visibility:hidden;
    opacity:0;
    transition: opacity 1s;
    padding:0.5em;
    border:#7d71b4 solid 1px;
    border-radius: 0.5em;
    background-color:#e9e2ef;
}
.infoimg.skyloc{
    width:95%;
}
.list-item:hover .infotxt{
    visibility: visible;
    opacity:1;
}
.info .infotxt::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -0.5em;
  border-width: 0.5em;
  border-style: solid;
  border-color: transparent 7d71b4 transparent transparent;
}

@media only screen and (max-width: 60em){
    #selectorholder, #keyholder, #buildholder, #settingsholder, #top10holder{
        width:40em;
    }
    .list-item{
        width:28em;
    }
    .evname{
        width:10em;
        font-size:0.75em;
        transform:unset;
    }
    .evgraph{
        width:15em;
        left:8em;
    }
    .icon{
        font-size:0.5em;
    }
    .infotxt{
        max-width:5em;
        font-size:0.8em;
    }
    p.intro{
        text-align:center;
        width:40em;
        margin-left:auto;
        margin-right:auto;
    }
}
@media only screen and (max-width: 40em){
    #selectorholder, #keyholder, #buildholder, #settingsholder, #top10holder{
        width:100%;
    }
    p.intro{
        text-align:center;
        width:100%;
    }
}